@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

html {
  font-size: 62.5%;
}

body {
  background-color: #252525;
  position: relative;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.301);
  top: 0;
  left: 0;
}

body .weather {
  width: 100%;
  height: 575px;
  background: url("../media/pexels-egor-kamelev-813872.jpg") center no-repeat;
  background-size: cover;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

body .weather .search-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .weather .search-section h1 {
  padding: 10px;
  font-size: 4rem;
  font-weight: 600;
  color: #f5f3f4;
}

body .weather .search-section button {
  background-color: #54478c;
  border: none;
  margin: 20px 0;
  height: 50px;
  line-height: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 50px;
  width: 100%;
  color: #f29e4c;
  outline: none;
}

body .weather .search-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .weather .search-section form button {
  background-color: #54478c;
  border: none;
  margin: 20px 0;
  height: 50px;
  line-height: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 50px;
  width: 100%;
  color: #f29e4c;
  outline: none;
}

body .weather .search-section form .search-city {
  margin-top: 40px;
}

body .weather .search-section form .search-city input {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 50px;
}

body .weather .search-section .msg {
  font-size: 2rem;
  color: #e70c0f;
  text-shadow: 2px 2px 5px #000;
}

body .weather .info {
  overflow: auto;
}

body .weather .info li {
  margin: 10px 0;
  -webkit-box-shadow: 2px 0 20px #000;
          box-shadow: 2px 0 20px #000;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .weather .info li .city-info {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

body .weather .info li .city-info p {
  font-size: 2.5rem;
  font-weight: 700;
}

body .weather .info li .city-info .cold {
  color: #23cbf5;
}

body .weather .info li .city-info .normal {
  color: #83ffcf;
}

body .weather .info li .city-info .hot {
  color: #f17a7c;
}

body .weather .info li .city-info h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f5f3f4;
}

body .weather .info li .description img {
  width: 20%;
  height: 20%;
}

body .weather .info li .description p {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 20px;
  color: #f5f3f4;
}
/*# sourceMappingURL=style.css.map */